body{
    background-image: url("http://picview.info/download/20150518/3d-photoshop-nature-landscape-1280x960.jpg");
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #000000;
}
